<div class="field">
  <div class="control">
    <label class="label">Название команды</label>
    <input type="text" class="input" v-model="team.name" />
  </div>
</div>

<div class="content">
  <h2 class="title is-4">Добавление пользователей</h2>
  <p>Пригласите пользователей в свою команду.</p>
</div>

<div v-for="(user, index) in team.users_attributes">
  <div v-if="user._destroy =='1'">
    {{ user.name }} will be removed.
    <button v-on:click="undoRemove(index)" class="button is-small">Назад</button>
  </div>
  <div v-else>
    <div class="field">
      <div class="control">
        <label class="label">Имя</label>
        <input type="text" class="input" v-model="user.name" />
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="label">Email</label>
        <input type="text" class="input" v-model="user.email" />
        <div id="errors" class="has-text-danger" v-if="errors.length">{{ errors }}</div>
      </div>
    </div>
    <input type="hidden" value="<%= current_user.id %>" />
    <div class="field">
      <div class="control">
        <button v-on:click="removeUser(index)" class="button is-small">Удалить</button>
      </div>
    </div>
  </div>
  <hr />
</div>

<div class="field">
  <div class="control">
    <button v-on:click="addUser" class="button is-link">Добавить пользователя</button>
  </div>
</div>

<hr />

<div class="field">
  <div class="control">
    <% if current_page?(new_team_path) %>
      <button v-on:click="saveTeam" class="button is-success is-large">Создать команду</button>
    <% else %>
      <button v-on:click="saveTeam" class="button is-success is-large">Сохранить изменения</button>
    <% end %>
  </div>
</div>
