<section class="hero is-link">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Добро пожаловать в Manage
      </h1>
      <h2 class="subtitle">
        Простая система управления проектами на Ruby on Rails
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-7">
        <div class="content">
          <h3 class="title is-3 has-text-centered">Почему именно Manage?</h3>
          <p> <li>Простая в использовании</li></p>
          <p><li>Поддержка команд пользователей</p>
          <p><li>История активности внутри проекта</p>
        </div>
      </div>
      <div class="column is-4 is-offset1">
        <h4 class="subtitle is-4">Регистрируйся сегодня</h4>
        <%= link_to 'Регистрация', new_user_registration_path, class: 'button is-link is-outlined' %>
      </div>
    </div>
  </div>
</section>
